.toyota{color: brown;
font-size: 30px;
font-family: arial;}

.nissan{color: blueviolet;
font-size: 30px;
font-family: arial;}

.mercedes{color: aqua;
font-size: 30px;
font-family: arial;}
#others{color: crimson;
font-size: 30px;
font-family: arial;}
